<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SIZZLE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  </head>
  <body>
    <nav>
      <h1><a href="/">SIZZLE</a></h1>
      <button class="btn btn-outline-danger"><a href="#">Log In</a></button>
    </nav>
    <div class="container">
      <div class="side"></div>
      <div class="about">
        <h1>About Us</h1>
        <p>Sizzle is a website that has been designed for you! Yes that is right      <strong>YOU</strong>! Here on sizzle you can find recipes shared from others from all over as well as share your own favorite recipes. Whether its Grandms's Secret, a family recipe passed down over years or just your own personal concoction that you created yourself, We'd love for you to allow us into your kitchen!<br> So do us all the honor and signup now and begin posting!! I Cannot wait to step into your kitchen! </p>
        <button><a href="#">Sign Up</a></button>
      </div>
    </div>
  </body>
</html>
