<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SIZZLE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" href="/css/sign-up.css">
  </head>
  <body>
    <div class="container">
      <h1>SIGN-UP TODAY!</h1>
      <div class="form">
        <form action="/users" method="post">
          <input type="text" name="username" placeholder="USERNAME"><br>
        <input type="password" name="password" placeholder="PASSWORD"><br>
        <div class="submit">
          <input type="submit" value="Create Account">

        </div>
        </form>
        <a href="/sessions/new">Already a member? <br>
        Log In</a>
      </div>


    </div>
  </body>
</html>
